<div class="bg-light w-70 center">
  <section class="d-flex justify-content-between align-items-center p-5 pb-0">
    <div>
      <!-- <h1 class="h1 fw-bold">Marius<br />Franzén</h1> -->
      <h1 class="h1 fw-bold">Shrek<br />Pendragon</h1>
      <hr class="divider-solid-secondary w-75" />
      <!-- <h2 class="h5">Full Stack Developer</h2> -->
      <h2 class="h5">Professional Ogre</h2>
    </div>
    <div>
      <!-- <img src="assets/jag-ingen-backgrund.png" /> -->
      <img src="assets/shrek.png" width="570" />
    </div>
  </section>
  <button class="fill-half-button bg-primary text-white">
    DOWNLOAD RESUME
  </button>
  <button class="fill-half-button bg-secondary text-black">
    VIEW PORTFOLIO
  </button>

  <section class="d-flex flex-column p-5">
    <h1 class="h2 fw-bold" id="about">About</h1>
    <div>
      <dl class="d-flex flex-row flex-wrap mt-3">
        <ng-container *ngFor="let item of info">
          <app-about-info [description]="item.description" [info]="item.info"></app-about-info>
        </ng-container>
      </dl>
      <p>
        Once upon a time there was a lovely princess. But she had an enchantment
        upon her of a fearful sort which could only be broken by love's first
        kiss. She was locked away in a castle guarded by a terrible
        fire-breathing dragon. Many brave knigts had attempted to free her from
        this dreadful prison, but non prevailed. She waited in the dragon's keep
        in the highest room of the tallest tower for her true love and true
        love's first kiss. Hahahahah! Like that's ever gonna happen. What a load
        of -
      </p>
      <div class="d-flex flex-row flex-wrap mt-5">
        <ng-container *ngFor="let item of skills">
          <app-skill-meter [level]="item.level * 10" [name]="item.title" [skillDescription]="item.description"></app-skill-meter>
        </ng-container>
      </div>
    </div>
  </section>

  <section class="d-flex flex-column p-5 pt-0">
    <h1 class="h2 fw-bold" id="resume">Resume</h1>
    <div class="d-flex flex-row flex-wrap">
      <ng-container *ngFor="let experience of experiences; let index = index">
        <div class="w-50 experience">
          <app-experience [date]="experience.date" [description]="experience.description" [title]="experience.title"></app-experience>
        </div>
      </ng-container>
    </div>
  </section>

  <section class="d-flex flex-column p-5 pt-0">
    <h1 class="h2 fw-bold" id="portfolio">Portfolio</h1>
  </section>

  <section class="d-flex flex-column p-5 pt-0">
    <h1 class="h2 fw-bold" id="contact">Contact</h1>
    <div>
      <app-contact-form></app-contact-form>
    </div>
  </section>
</div>
