<div class="bg-light w-70 center">
  <section class="d-flex justify-content-between align-items-center p-5 pb-0">
    <div>
      <!-- <h1 class="h1 fw-bold">Marius<br />Franzén</h1> -->
      <h1 class="h1 fw-bold">Shrek<br />Pendragon</h1>
      <hr class="divider-solid-secondary w-75" />
      <!-- <h2 class="h5">Full Stack Developer</h2> -->
      <h2 class="h5">Professional Ogre</h2>
    </div>
    <div>
      <!-- <img src="assets/jag-ingen-backgrund.png" /> -->
      <img src="assets/shrek.png" width="570" />
    </div>
  </section>
  <button class="fill-half-button bg-primary text-white">
    DOWNLOAD RESUME
  </button>
  <button class="fill-half-button bg-secondary text-black">
    VIEW PORTFOLIO
  </button>

  <section class="d-flex flex-column p-5">
    <h1 class="h2 fw-bold">About</h1>
    <div>
      <p>
        Once upon a time there was a lovely princess. But she had an enchantment
        upon her of a fearful sort which could only be broken by love's first
        kiss. She was locked away in a castle guarded by a terrible
        fire-breathing dragon. Many brave knigts had attempted to free her from
        this dreadful prison, but non prevailed. She waited in the dragon's keep
        in the highest room of the tallest tower for her true love and true
        love's first kiss. Hahahahah! Like that's ever gonna happen. What a load of -
      </p>
      <div class="d-flex justify-content-between mt-5">
        <app-skill-meter [level]="100" name="roar" skillDescription="eardrum shattering"></app-skill-meter>
        <app-skill-meter [level]="90" name="feline befriending" skillDescription="very good"></app-skill-meter>
      </div>
      <div class="d-flex justify-content-between mt-4">
        <app-skill-meter [level]="55" name="dragon slaying" skillDescription="mixed results"></app-skill-meter>
        <app-skill-meter [level]="45" name="social skills" skillDescription="what is that"></app-skill-meter>
      </div>
    </div>
  </section>

  <section class="d-flex flex-column p-5 pt-0">
    <h1 class="h2 fw-bold">Resume</h1>
    <div>

    </div>
  </section>
</div>
