<div class="bg-light w-70 center">
  <section class="d-flex justify-content-between align-items-center p-5 pb-0">
    <div>
      <h1 class="h1 fw-bold">Marius<br />Franzén</h1>
      <hr class="divider-solid-secondary w-75" />
      <h2 class="h5">Full Stack Developer</h2>
    </div>
    <div>
      <img src="assets/jag-ingen-backgrund.png" />
    </div>
  </section>
  <button class="fill-half-button bg-primary text-white">
    DOWNLOAD RESUME
  </button>
  <button class="fill-half-button bg-secondary text-black">
    VIEW PORTFOLIO
  </button>
  <section class="d-flex flex-column p-5">
    <h1 class="h2 fw-bold">About</h1>
    <div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed culpa
        nostrum qui expedita vero blanditiis facilis dignissimos autem velit?
        Neque iure ut labore error sunt officiis consequatur incidunt officia
        magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
        provident cupiditate in maiores cumque id quaerat ullam, maxime sint
        ipsam quam molestiae sunt libero dolores, corporis, nobis veniam
        asperiores a?
      </p>
      <div class="d-flex justify-content-between mt-5">
        <app-skill-meter></app-skill-meter>
        <app-skill-meter></app-skill-meter>
      </div>
      <div class="d-flex justify-content-between">
        <app-skill-meter></app-skill-meter>
        <app-skill-meter></app-skill-meter>
      </div>
    </div>
  </section>
</div>
