.leftSection {
  background-color: #005564;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leftSection .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  white-space: nowrap;
  min-width: 50%;
}
.leftSection .profile .profile-picture {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 10px #003842;
}
.leftSection .profile .profile-button-group {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.leftSection .profile .profile-button-group .profile-button {
  color: white;
  padding: 10px;
  font-size: 20px;
  background-color: #005564;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.leftSection .profile .profile-button-group .profile-button:hover {
  background-color: white;
  color: #005564;
}
.leftSection .profile .profile-button-group .profile-button:focus {
  outline: none;
}
.leftSection .profile a {
  color: white;
  transition-duration: 0.2s;
}
.leftSection .profile a:hover {
  background-color: #006172;
}
.leftSection footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
}
.leftSection footer img {
  margin: 10px;
  height: 2rem;
  width: 2rem;
  filter: invert(100%);
}

.right-section {
  width: 50vw;
  height: 100vh;
  overflow-y: scroll;
}
.right-section .header {
  margin-top: 0px;
  font-size: 1.3rem;
  white-space: nowrap;
  flex: 0 0 30%;
  color: #005564;
  font-variant: small-caps;
}
.right-section .section {
  margin: 70px;
}
.right-section .section .text-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.right-section .section .text-section .text {
  flex: 0 0 calc(70%);
}
.right-section .section .text-section p {
  margin-top: 0px;
}
.right-section .section .date-list-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.right-section .section .date-list-section .items {
  flex: 0 0 calc(70%);
}
.right-section .section .date-list-section .items .group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.right-section .section .date-list-section .items .group .date-group {
  text-align: end;
  white-space: nowrap;
  text-transform: capitalize;
}
.right-section .section .date-list-section .items .group .date-group .start-date {
  margin: 0;
}
.right-section .section .date-list-section .items .group .date-group .end-date {
  margin: 0;
}
.right-section .section .date-list-section .items .group .vertical-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.right-section .section .date-list-section .items .group .vertical-group .title-group {
  text-transform: capitalize;
}
.right-section .section .date-list-section .items .group .vertical-group .title-group .title {
  margin: 0;
}
.right-section .section .date-list-section .items .group .vertical-group .title-group .subtitle {
  margin: 0;
  font-style: italic;
}
.right-section .section .date-list-section .items .group .vertical-group .notes-list {
  padding: 0;
  margin-top: 0;
}
.right-section .section .date-list-section .items .group .vertical-group .notes-list li::first-letter {
  text-transform: capitalize;
}

.row-group {
  display: flex;
  flex-direction: row;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PTSans";
  src: url("./fonts/PTSans-Regular.ttf") format("truetype");
}
* {
  font-size: 100%;
  font-family: "PTSans", "Poppins", Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  text-rendering: optimizeLegibility;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
