@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PTSans";
    src: url("./fonts/PTSans-Regular.ttf") format("truetype");
}

$font-stack: "PTSans", "Poppins", Helvetica, sans-serif;

* {
    font-size: 100%;
    font-family: $font-stack;
}
