@import "./colors.scss";

.leftSection {
    background-color: $main-color;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 30px;
        white-space: nowrap;

        .profile-picture {
            width: 180px;
            height: 180px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 5px 10px #003007;
        }

        .profile-button-group {
            justify-content: space-around;
            align-items: center;
            width: 100%;

            .profile-button {
                color: white;
                padding: 10px;
                font-size: 20px;
                background-color: $main-color;
                border: 3px solid white;
                border-radius: 5px;
            }
        }

        h2 {
            font-size: 20px;
        }
    }
}