@use "leftSection";
@use "rightSection";
@use "grid";
@import "./fonts.scss";

$screen-size-s: 1230px;
$screen-size-m: 1920px;
$screen-size-l: 1440px;

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    text-rendering: optimizeLegibility;
    justify-content: center;
}
