ul {
  list-style-type: none;

  li {
    &:not(:last-child), &:not(:first-child) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  a {
    color: white;
    &:link {
      text-decoration: none;
    }
  }
}
